Flask==3.1.0
langchain==0.3.19
langchain-chroma==0.2.2
langchain-community==0.3.18
langchain-core==0.3.37
langchain-groq==0.2.4
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.6
chromadb==0.6.3
huggingface-hub==0.29.1
groq==0.18.0
transformers==4.49.0
sentence-transformers==3.4.1
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
torch==2.6.0
requests==2.32.3
urllib3==2.3.0
certifi==2025.1.31